@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #000000;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 20%;
    padding-left: 2%;
    
}
header img{
    width: 170px;
    height: 50px;
}
main{
    background-color:#FFFFFF;
    text-align: center;
}

h1{
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style:inherit;
  font-size: 3rem;
  color:#1A94A1;
  padding-top: 2%;
  text-align: center;

}
h2{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:inherit;
  font-size: 2rem;
  color:#FFFFFF;
  padding-top: 10%;
  padding-bottom: 5%;

}

h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color:#1A94A1;

}
h5 , h6 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font: weight 600px;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #FFFFFF;
  margin:  2%;
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font: weight 600px;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  line-height: 1.6;
  margin:  2%;

}

.first {
    background-image: url(../images/banner.jpg);
    padding-top: 10%;
    padding-bottom: 10%;
}
.first button{
    background-color: #FE4523;
    color: whitesmoke;
    border: 0;
    border-radius: 6%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.first button:hover{
    background-color: #981d08;

}

.second{
    background-color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-content:space-around;
   padding-left: 25%;
   
font-size: 1rem;
}

.second p{
   
    margin-top: 2%;
    text-align: center;
}
.second img{
    border-radius: 100%;
   margin-bottom: 10%;
   margin-right: 20%;
   width: 200%;
   height: auto%;
   
}
.second last{
    padding-left: 100%;
}




.third {
    background-color: #F13E03;
    padding: auto;

}

.third p{
  color: #FFFFFF;
}

,.fourth{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.fourth img {
width: 80%;
height: 80%;
margin-top: 10%;
margin-bottom: 10%
;} 

.sub {
    border: 2px solid gray;
    padding: 1px;
   margin-top: 5%;;
}

.sub p {
    margin: 0;
    font-size: 1rem; /* Font size inside the box */
}

footer{font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font: weight 600px;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: #2A9CC4;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}

ul{
    color: #FFFFFF;
}
hr{
    max-width: 200px;
    margin-top: 1%;
    margin-bottom: 1%;
}


.extra-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #f0f0f0;
    
}

.info-box {
    max-width: 300px;
    text-align: center;
}

.info-box img {
    width: 100%;
    margin-bottom: 20px;
}
